@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: lightpink;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: honeydew;
  border-bottom: 1px solid darkblue;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  color: darkblue;
}

nav a:hover {
  color: lightpink;
}

#site-title {
  font-family: 'Montserrat', sans-serif;
  margin: 1rem;
  padding: 0.5rem;
  color: darkblue;
}

#view {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: honeydew;
  margin: 1rem;
  padding: 1rem;
  /* border: 1px solid darkblue; */
  border-radius: 15px;

}  

#title-details {
  display: flex;
  flex-direction: row;
}

#title-details > p {
  padding-right: 1.75rem;
}

#content-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
}

#right {
  padding: 1rem;
  flex-grow: 2;
}

#streaming-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#stream-on {
  text-align: right;
}

#stream-on-sorry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imdb {
  height: 2.5rem;
  width: 2.5rem;
}

#star {
  height: 1rem;
  width: 1rem;
}

.streaming-logo {
  border-radius: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: lightpink;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* max-width: 50%;; */
  min-height: 15rem;
  background-color: white;
  border: 1px solid darkblue;
  border-radius: 15px;

}

#login-form {
  background-color: white;
  border: 1px solid darkblue;
  border-radius: 15px;
  margin: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  flex-grow: 2;
}

form div {
  margin: 1rem;
  display: inline-block;
}

form > div > p {
  margin-top: 0px;
}

#searchTitle {
  width: fit-content;
  margin: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

#titleLabel {
  display: block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

button {
  border: 0;
  border-radius: 10px;
  background: 0;
  font-size: 1em;
  cursor: pointer;
  font-weight: normal;
  box-shadow: 0;
  background-color: darkblue;
  color: #fff;
  padding: 1em 2em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0.5rem;
}

button:hover {
  background-color: #fff;
  color:darkblue;
  box-shadow: 0 0 0 2px darkblue;
}

#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#message h4 {
  margin-top: 0px;
}

li {
  list-style: none;
}

#result-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid darkblue;
  width: 28%;
  border-radius: 15px;
  margin: 0.5rem;
  padding: 0.5rem;

}

.result-info {
  display: flex;
  flex-direction: column;
}

#star-result {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.result a {
  text-decoration: none;
  color: black;
}

.result a:hover {
  color: lightpink;
}

.streaming-logo:hover {

  color:darkblue;
  box-shadow: 0 0 0 2px darkblue;
}

.mini-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  border-radius: 10px;
}

#looking-for {
  color: darkblue;
}