@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
/* #content-wrapper {
  
}   */

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* h3 {
  font-family: Verdana;
  color: hotpink
} */

li {
  list-style: none;
}